# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/vesting_vault
DB_HOST=localhost
DB_PORT=5432
DB_NAME=vesting_vault
DB_USER=username
DB_PASSWORD=password

# Stellar Configuration
STELLAR_RPC_URL=https://horizon-testnet.stellar.org
STELLAR_NETWORK=testnet
SOROBAN_RPC_URL=https://soroban-rpc.testnet.stellar.org
VAULT_CONTRACT_ADDRESS=CD5QF6KBAURVUNZR2EVBJISWSEYGDGEEYVH2XYJJADKT7KFOXTTIXLHU

# Integrity Monitoring
APPROVED_VAULT_WASM_HASH="7792a624b562b3d9414792f5fb5d72f53b9838fef2ed9a901471253970bc3b15"

# Server Configuration
PORT=3000
